<div class="page">

    <!-- Top Navbar -->
    <div class="navbar">
        <div class="navbar-inner">
            <div class="left"><a href="#" class="back link"><i class="icon icon-back icon-only"></i></a></div>
            <div class="title">Simple</div>
        </div>
    </div>
    <!-- Scrollable page content -->
    <div class="page-content block">
        <p>Esta es una página simple sin template.</p>
        <p>Notar que el "volver" en la barra no hace nada, porque hay un reloadCurrent:true en la redirección.</p>
        <p>
            <a href="/paginaComoTemplate">Página como template</a>
        </p>
        <p>
            <a href="/paginaComoTemplateAsync">Página como template async</a>
        </p>
    </div>
</div>